In [25]:
import pandas as pd

In [26]:
pd.__version__

'1.5.3'

In [27]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [28]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [29]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [31]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [32]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=10000)

In [33]:
df = next(df_iter)

In [34]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.00
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.00
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.00
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.00
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2,2019-09-01 21:12:50,2019-09-01 21:21:44,N,1,7,179,1,1.58,8.0,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2,1,0.00
9996,2,2019-09-01 21:34:11,2019-09-01 21:48:58,N,1,7,236,1,4.21,14.5,0.5,0.5,0.00,0.0,NaN,0.3,18.55,2,1,2.75
9997,2,2019-09-01 21:59:57,2019-09-01 22:03:55,N,1,146,193,1,1.06,5.5,0.5,0.5,1.36,0.0,NaN,0.3,8.16,1,1,0.00
9998,2,2019-09-01 21:12:36,2019-09-01 21:24:06,N,1,93,130,1,4.22,14.0,0.5,0.5,0.00,0.0,NaN,0.3,15.30,1,1,0.00
9999,2,2019-09-01 21:13:41,2019-09-01 21:38:04,N,1,54,61,1,3.86,17.0,0.5,0.5,0.00,0.0,NaN,0.3,18.30,2,1,0.00

In [35]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [36]:
df.head(n=1)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.0,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0

In [37]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [38]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: total: 469 ms
Wall time: 2.53 s

1000

In [39]:
from time import time

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [47]:
df_iter = pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=1)
df = next(df_iter)

In [48]:
try:
    while True:
        t_start = time()

        df = next(df_iter)

        if df.empty:
            break  # Break the loop if there are no more chunks to read

        df.to_sql(name='taxi_zone_data', con=engine, if_exists='append', index=False)

        t_end = time()

        print('Inserted another chunk, took %.3f seconds' % (t_end - t_start))

except StopIteration:
    pass

Inserted another chunk, took 0.099 seconds
Inserted another chunk, took 0.034 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.018 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.019 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.020 seconds
Inserted another chunk, took 0.040 seconds
Inserted another chunk, took 0.030 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.019 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.032 seconds
Inserted another chunk, took 0.036 seconds
Inserted another chunk, took 0.032 seconds
Inserted another chunk, took 0.032 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.030 seconds
Inserted another chunk, took 0.030 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.030 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.037 seconds
Inserted another chunk, took 0.044 seconds
Inserted another chunk, took 0.047 seconds
Inserted another chunk, took 0.041 seconds
Inserted another chunk, took 0.039 seconds
Inserted another chunk, took 0.110 seconds
Inserted another chunk, took 0.048 seconds
Inserted another chunk, took 0.045 seconds
Inserted another chunk, took 0.043 seconds
Inserted another chunk, took 0.041 seconds
Inserted another chunk, took 0.038 seconds
Inserted another chunk, took 0.044 seconds
Inserted another chunk, took 0.042 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.030 seconds
Inserted another chunk, took 0.031 seconds
Inserted another chunk, took 0.030 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.031 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.021 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.036 seconds
Inserted another chunk, took 0.033 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.021 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.039 seconds
Inserted another chunk, took 0.034 seconds
Inserted another chunk, took 0.032 seconds
Inserted another chunk, took 0.032 seconds
Inserted another chunk, took 0.030 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.031 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.030 seconds
Inserted another chunk, took 0.032 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.030 seconds
Inserted another chunk, took 0.021 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.031 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.030 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.021 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.031 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.021 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.033 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.023 seconds
Inserted another chunk, took 0.028 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.022 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.025 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.026 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.027 seconds
Inserted another chunk, took 0.024 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.029 seconds
Inserted another chunk, took 0.024 seconds